<body class = "body">
    <h3>Step 2: Defining Component</h3>
    <div class = "content">
        <h4 id = "h4">Description</h4>
        <p></p>
        <p>AUD Component corresponding to an application,
            a tool, a DB defined into an AUD scope.
        </p>

        <p>A type of entity residing on 
            <strong>One or Multiple hosts</strong> 
            (Physical or Virtual) consuming or 
            providing services used by other components.
        </p>

        <p>Basically, the different type of server 
            where part of your application is running.
        </p>

        <p>
            <a href = "https://bitbucket.gob.amadeus.net/projects/AUD/repos/auds-mongodb/browse/MongoDB-Component.yml" target="_blank">
                Example - MongoDB Component
            </a>
        </p>

        <img src="assets/component_glossary.png">

        <p><strong>Click the link given below to know how to create a new Component</strong></p>
        <p>
            <a href = "https://rndwww.nce.amadeus.net/confluence/pages/viewpage.action?pageId=1930762771" target="_blank">
                Component Flags & Security Mandate
            </a>
        </p>

        <p>
            Once you've defined your component, here's how it will look here
        </p>
        <p>
            <a href = "http://localhost:4200/component/1A-Business-Relay-Access" target="_blank">
                Example - 1A-Business-Relay-Access
            </a>
        </p>


    </div>
</body>
