.body{
    padding-left: 10px;
    padding-top: 10px;
}

.content{
    padding-left: 10px;
}

.dl{
    padding-left: 10px;
}

#h4{
    padding-top: 20px;
}

img{
    width: 500px;
    padding: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}