<head>
    <link rel="stylesheet" href="scopeclick.component.scss">
</head>

<div class = "h2name">
    <h2>{{name}}</h2>
</div>

<div class = "repolink">
    <a href = {{replink}}>
        <i class="fs-4 bi-link-45deg"></i>
    </a> 
</div>

<div class = "rep-bt">
    <button type="button" class="btn btn-outline-primary">
        Connectivity Table
    </button>
</div>

<h5 id = "h5heading">
    Objects referencing this Scope
</h5>

<!-- <div class = "rep-bt">
    
</div> -->


<table class="table r table-striped table-hover" id = "scope-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
      </tr>
    </thead>

    <tbody>

        <tr *ngFor = "let c of compname">

            <td></td>
            
            <td>
              Component
            </td>
            
            <td>
              {{c.name}}
            </td>

        </tr>

        <tr *ngFor = "let ci of compinstname">

            <td></td>
            
            <td>
              Component Instance
            </td>
            
            <td>
              {{ci.name}}
            </td>

        </tr>

        <tr *ngFor = "let s of servicename">

            <td></td>
            
            <td>
              Service
            </td>
            
            <td>
              {{s.name}}
            </td>

        </tr>

        <tr *ngFor = "let d of depname">

            <td></td>
            
            <td>
              Dependency
            </td>
            
            <td>
              {{d.name}}
            </td>

        </tr>

        <tr *ngFor = "let di of depinstname">

            <td></td>
            
            <td>
              Dependency Instance
            </td>
            
            <td>
              {{di.name}}
            </td>

        </tr>

        <tr *ngFor = "let ip of ipadinstname">

            <td></td>
            
            <td>
              IP Address Instance
            </td>
            
            <td>
              {{ip.name}}
            </td>

        </tr>
        
        
    </tbody>


