<head>
    <link rel="stylesheet" href="scopeclick.component.scss">
</head>

<div class = "h2name">
    <h2>{{name}}</h2>
</div>

<div class = "repolink">
    <a href = {{replink}}>
        <i class="fs-4 bi-link-45deg"></i>
    </a> 
</div>

<div class = "rep-bt">
    <button type="button" class="btn btn-outline-primary">
        Connectivity Report
    </button>
</div>

<h5 id = "h5heading">
    Objects referencing this Scope
</h5>

<!-- <div class = "rep-bt">
    
</div> -->


<table class="table r table-striped table-hover" id = "scope-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
      </tr>
    </thead>

    <tbody>
        
        
    </tbody>


