<body class = "body">
    <h3>Step 1: Scope Creation</h3>
    <div class = "content">
        <h4 id = "h4">Description</h4>

        <p>AUD scope is a BitBucket repository belonging to a single team 
            and which contain all AUD definition (Component and Dependencies)
            for this team.
        </p>

        <p>Two types of scope exist:</p>

        <dl class = "dl">
            <dt>Infrastructure scope</dt>
            <dd> - that are under infrastructure team's responsibility</dd>
            <dt>Application scope</dt>
            <dd> - corresponds to a functional split and contains one APP</dd>
        </dl>

        <p>Infrastucture and application scopes data 
            <strong>should not be merged</strong> 
            in the same scope as they have different 
            SLA/lifecycle and ownership/access rights.
        </p>

        <p><strong>Click the link given below to know how to create a Scope</strong></p>
        <p>
            <a href = "https://rndwww.nce.amadeus.net/confluence/display/AUD/How+to+create+an+aud+scope" target="_blank">
                How to create an AUD Scope
            </a>
        </p>


    </div>

</body>

