
<head>
    <link rel="stylesheet" href="home.component.scss">
</head>
  
<div class = intro>
  <h2>Scope Directory</h2>
</div>

  <!-- <div class="form-group">
    <label for="scope"><h5>Scope</h5></label>
    <select class="form-select" id="scope" (change)="compCall1($event.target)">
        <option value="All">All</option>
        <option *ngFor="let i of scopes" [value]="i.name" >{{i.name}}</option>
    </select>
  </div> -->
  
  <!-- <div class = "form-group">
    <label for="comp"><h5>Component</h5></label>
    <select  class="form-select" id="comp" (change)="compCall2($event.target)">
        <option value="All">All</option>
        <option *ngFor="let j of comps" [value]="j.name" >{{j.name}}</option>
    </select>
  </div>
  
  <div class = "search">
  <button type="button" class="btn btn-outline-primary" (click)="onClick($event)">
      Search
  </button>
  </div> -->
  
  <table class="table r table-striped table-hover" id = "scope-table">
    <thead>
      <tr>
        <th style="width: 10%" scope="col">#</th>
        <th style="width: 20%" scope="col">Name</th>
        <th style="width: 25%" scope="col">Admin Groups</th>
        <th style="width: 35%" scope="col">Owners</th>
        <th style="width: 10%" scope="col">Scope</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor = "let s of scopes">
        <td></td>
        
        
        <td>
          <a [routerLink]="['/scope',s.name]" (click)="onClick2($event)">
            {{s.name}}
          </a>
        </td>
        
        <td>
          {{s.admin_groups}}
        </td>
        <td>
          {{s.owners}}
        </td>
        <td>
          {{s.scope}}
        </td>
      </tr>
    </tbody>
  </table>

  
  
  <!-- <ul>
    <li *ngFor="let i of posts">
        {{ i.name }}
    </li>
  </ul> -->