.form-group{
    padding: 10px 40px;
    display: inline-block;
    width: 350px;
}

.dropdown{
    padding: 0px 15px;
    display: inline-block;
}

.search{
    display: inline-block;
    padding: 10px 10px;
}

table {
    table-layout: fixed;
    counter-reset: serial-number;
  }
  
  tr td:first-child:before {
    content: counters(serial-number, ".");
    counter-increment: serial-number;
  }
