<body class = "body">
    <h3>Step 3: Component Instances</h3>
    <div class = "content">
        <h4 id = "h4">Description</h4>
        <p></p>
        <p>Component instance is the real deployment of 
            your Component for a given purpose.
        </p>

        <p>A component instance is the way to 
            declare an extremity of a connectivity.
        </p>

        <p>If you want a connection between A and B, 
            A and B have to be declared as component_instance 
            in our AUD world.
        </p>

        <p>The component_instance definition allows you to 
            provide the exact IP (one or many) used for the rules.
        </p>

        <p>The component instance is specific to a landing zone/PaaS. 
            It is not possible to have a component_instance located 
            into 2 landing zones. It has to be split per landing zone
        </p>

        <p>
            <a href = "https://bitbucket.gob.amadeus.net/projects/AUD/repos/auds-mongodb/browse/MongoDB-ComponentInstance.yml" target="_blank">
                Example - MongoDB Component Instance
            </a>
        </p>

        <img src="assets/ci_glossary.png">

        <p><strong>How to define Component instance in your scope repository</strong></p>
        <p>
            <a href = "https://rndwww.nce.amadeus.net/confluence/display/AUD/Component+Instance+-+External+URLs+endpoint+definition+simplification" target="_blank">
                Component Instance - External URLs endpoint definition simplification
            </a>
        </p>

        <p>
            Once you've defined your component instance, here's how it will look here
        </p>
        <p>
            <a href = "http://localhost:4200/component_instance/158107052883-argos-metrics-exporter" target="_blank">
                Example - 158107052883-argos-metrics-exporter
            </a>
        </p>


    </div>
</body>
